[submodule "Submodules/AMReX"]
	path = Submodules/AMReX
	url = https://github.com/amrex-codes/amrex.git
	shallow = true
[submodule "Submodules/RRTMGP"]
	path = Submodules/RRTMGP
	url = https://github.com/E3SM-Project/rte-rrtmgp
	branch = jgfouca/more_perf
	shallow = true
[submodule "Submodules/Noah-MP"]
	path = Submodules/Noah-MP
	url = https://github.com/erf-model/noahmp.git
	shallow = false
[submodule "Submodules/WW3"]
	path = Submodules/WW3
	url = https://github.com/erf-model/WW3
	shallow = true
[submodule "Submodules/ekat"]
	path = Submodules/ekat
	url = https://github.com/E3SM-Project/EKAT
