
# IDE files
.idea
.vscode

# macOS files
.DS_Store

# Log files
datlog
log.*

# Temporary files
*/Testing/Temporary
.*.swp

/Exec/WORK/*
ic.txt
plt*
chk*
tmp_build_dir
.ccls-cache
ERF*.ex
AMReX_buildInfo.cpp
cmake-build*
cmake_build*
cmake*ser*
cmake*par*
.idea
*.ipynb
